<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" onclick="loadPage('home')">ByNight</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#" onclick="loadPage('home')">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#" onclick="loadPage('register')">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="#" onclick="loadPage('login')">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="#" onclick="loadPage('main')">Main</a></li>
      </ul>
    </div>
  </div>
</nav>
