@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


#root {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.content-container {
  width: 60vw !important;
  
}



.navbar {
  background-color: #222;
  border-bottom: 2px solid #444;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}


.navbar-title {
  color: #b30000;
  font-family: 'Caveat', cursive;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease;
  text-decoration: none;
}

.navbar-title:hover {
  color: #ff4d4d;
  text-decoration: none; 
}



.navbar-toggler-icon {
  background-color: #222; 
}



.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ff4d4d;
}

.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu {
  background-color:#222 !important;
  border: 1px solid #444 !important;
}

.dropdown-item {
  color: #888 !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #333 !important;
  color: #ff4d4d !important;
}
.dropdown-item:hover {
  color: #b30000 !important;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  #root {
    max-width: 100%;
  }
  .content-container {
    width: 100vw !important;
    
  }
}